include MANIFEST.in
include Watershed/Watershed.py
include Watershed/__init__.py
include setup.py
include Makefile
include README
include Watershed-2.0.4.html
include TestWatershed/Watershed.py
include TestWatershed/TestImageLoadingAndDataExtraction.py
include TestWatershed/TestBinaryDilation.py
include TestWatershed/Test.py
include TestWatershed/line.jpg   
include Examples/README
include Examples/dilate_erode.py
include Examples/edge_repair.py
include Examples/distance_mapping.py
include Examples/distance_mapping2.py
include Examples/influence_zones.py
include Examples/LoG.py
include Examples/segment_automatic_and_show_watershed.py
include Examples/segment_automatic_and_use_contours_to_extract_blobs.py
include Examples/segment_automatic_and_use_region_growing_to_extract_blobs.py
include Examples/segment_with_markers_and_show_watershed.py
include Examples/segment_with_markers_and_use_contours_to_extract_blobs.py
include Examples/segment_with_markers_and_use_region_growing_to_extract_blobs.py
include Examples/extract_image_portion_and_apply_color_filter_demo.py
include Examples/otsu_threshold_hue_demo.py
include Examples/hist_equalize_demo.py
include Examples/data_gen.py
include Examples/cleanup.py
include Examples/triangle1.jpg
include Examples/broken_rectangle1.jpg
include Examples/artpic3.jpg
include Examples/artpic4.jpg
include Examples/orchid0001.jpg
include Examples/fruitlets.jpg
include Examples/fruitlets2.jpg
include Examples/composite_image_with_all_marks_orchid.jpg
include Examples/automatic_output_segmentation_for_orchid.jpg
include Examples/marker_assisted_segmentation_for_orchid.jpg
